streamlit
torch
groq
replicate
accelerate
diffusers
transformers
googletrans
kokoro>=0.3.4
soundfile
IPython
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
